<header>
  <ul class="brand">
    <li class="brand-item">
      <img class="logo" src="assets/logo_alone.png" alt="logo">
    </li>
    <li class="brand-item">
      <img class="name" src="assets/name.png" alt="name">
    </li>
  </ul>
  <nav>
    <ul class="navigation">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
</header>
