<header>
  <ul class="brand">
    <li class="brand-item">
      <img class="logo" src="assets/ardium_logo.png" alt="logo">
    </li>
    <li class="brand-item">
      <span class="name">
        Ardium
      </span>
    </li>
  </ul>
  <ul class="navigation">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</header>
