.footer {
  height: 100%;
  background-color: #64B5F6;
  margin: 0;
  display: block;
  padding: 24px 0px;
}

h3 {
  margin: 0;
}

.center {
  text-align: center;
}

ul {
  margin: 0;
}

.no-bullets {
  list-style-type: none;
}
