.container {
  margin-top: 128px;
  margin-bottom: 128px;
}

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.column {
  text-align: justify;
  padding: 24px;

  h4 {
    text-align: center;
  }
}

.big-icon {
  padding-bottom: 16px;
  color: #64b5f6;
}

.center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}
