:root {
  --clr-main: #09aff4;
  --clr-main-rgb: 9, 175, 244;
  --clr-accent: #0d1857;
  --clr-secondary: #4820a7;

  --clr-white: #fff;
  --clr-white-rgb: 255, 255, 255;
  --clr-black: #121212;
  --clr-black-rgb: 18, 18, 18;
  --clr-grey: #f1f1f1;
  --clr-semi-dark: #b8b8b8;
  --clr-dark-grey: #4d4d4d;
  --clr-extra-dark-grey: #202020;

  --clr-dark-blue: #060922;
  --clr-semi-dark-blue: #000531;

  --clr-danger: #fc0000;
  --clr-success: #217234;
  --clr-warning: #9b6a01;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Jost, sans-serif;
  position: relative;
  color: var(--clr-white);
  background: var(--clr-dark-blue);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 1.75rem;
  text-transform: capitalize;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}
.heading-container-g {
  margin-bottom: 3rem;

  p {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    opacity: 0.75;
  }
}

.content-width-g {
  width: calc(100% - 3rem);
  margin: 0 auto;
}
@media only screen and (min-width: 576px) {
  .content-width-g {
    max-width: 540px;
  }
  h1 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .content-width-g {
    max-width: 720px;
  }
  h2 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .content-width-g {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .content-width-g {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .content-width-g {
    max-width: 1320px;
  }
}

.image-cover-g {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
  }
}