<header [class.is-scrolled]="isScrolled()">
  <div class="content-width-g header-container">
    <div class="logo">
      <img src="ardium_logo.png" alt="Ardium logo" />
    </div>
    <nav>
      <ul>
        <li>
          <a [routerLink]="[]" fragment="home-section" (click)="scrollTo('home-section')">Home</a>
        </li>
        <li>
          <a [routerLink]="[]" fragment="services-section" (click)="scrollTo('services-section')">Services</a>
        </li>
        <li>
          <a [routerLink]="[]" fragment="contact-section" (click)="scrollTo('contact-section')">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
