section {
  padding: 5rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-anchor {
  position: absolute;
  top: -3rem;
}
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(240px + 4rem));
}