<section id="home-section">
  <div class="bg-pattern image-cover-g">
    <img src="pattern1.jpg" aria-hidden="true" />
  </div>
  <div class="particles"></div>
  <div class="hero-container content-width-g">
    @if (hero(); as content) {
    <div class="text-column">
      <div class="heading-container">
        <div class="striped-decor"></div>
        <app-pre-heading>{{ content.preHeading }}</app-pre-heading>
        <h1>{{ content.title }}</h1>
      </div>
      <p>{{ content.subtitle }}</p>
      <app-button (click)="onContactUsClick()">{{ content.contactButtonText }}</app-button>
    </div>
    <div class="image-column">
      @if (content.imageUrl) {
      <img [src]="content.imageUrl" alt="" />
      }
    </div>
    } @else if (loading()) {
    <p i18n="@@common.loading">Loading...</p>
    } @else if (error()) {
    <p i18n="@@common.content-unavailable">Content is currently unavailable.</p>
    }
  </div>
</section>
 
