<div class="container">
    <h3 class="center upper">o naszej firmie</h3>
    <p class="center">Czym się zajmujemy?</p>
  
    <div class="about-us">
      <div class="column">
        <div class="center">
          <i class="fa-solid fa-file-excel fa-5x big-icon"></i>
        </div>
        <h4>Excel</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi
          maxime quisquam quo rerum necessitatibus suscipit hic architecto
          perferendis, quasi qui vitae animi sapiente iure illum corporis ipsa ea
          officiis!
        </p>
      </div>
      <div class="column">
        <div class="center">
          <i class="fa-solid fa-brain fa-5x big-icon"></i>
        </div>
        <h4>AI</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi
          maxime quisquam quo rerum necessitatibus suscipit hic architecto
          perferendis, quasi qui vitae animi sapiente iure illum corporis ipsa ea
          officiis!
        </p>
      </div>
      <div class="column">
        <div class="center">
          <i class="fa-solid fa-robot fa-5x big-icon"></i>
        </div>
        <h4>Automatyzacja</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi
          maxime quisquam quo rerum necessitatibus suscipit hic architecto
          perferendis, quasi qui vitae animi sapiente iure illum corporis ipsa ea
          officiis!
        </p>
      </div>
    </div>
  </div>
  