<div class="container">
  <h3 class="center upper">Our Expertise</h3>
  <p class="center">What exactly are we good at?</p>

  <div class="about-us">
    <div class="column">
      <div class="center">
        <i class="fa-solid fa-file-excel fa-5x big-icon"></i>
      </div>
      <h4>Excel Automation</h4>
      <p>
        We specialize in eliminating extensive Excel usage by automating data flows and moderation. Whether it's creating full web apps or automations within Excel, we tackle even the most complex and unique business processes.
      </p>
    </div>
    <div class="column">
      <div class="center">
        <i class="fa-solid fa-brain fa-5x big-icon"></i>
      </div>
      <h4>AI Integration</h4>
      <p>
        We integrate LLMs and create custom GPTs that interact with your company data, helping you process long texts such as legal documents and emails. Our solutions enhance your business operations with intelligent automation.
      </p>
    </div>
    <div class="column">
      <div class="center">
        <i class="fa-solid fa-robot fa-5x big-icon"></i>
      </div>
      <h4>Custom Software Solutions</h4>
      <p>
        We develop fully customized software solutions with a focus on great design and user experience. Our automated apps seamlessly fit into your business processes, ensuring efficiency and ease of use for all your employees.
      </p>
    </div>
  </div>
</div>
