body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.trust-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  // margin: 150px 0; /* Niższa sekcja */
  background-color: white;
}

h2 {
  margin-bottom: 60px;
}

.trust-us-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 60px;
}

.trust-us-item {
  text-align: center;
  padding: 0 40px;
  transition: transform 0.3s ease-in-out;
}

.trust-us-item img {
  width: 100px; /* Zmniejszono rozmiar ikon */
  height: 100px; /* Zmniejszono rozmiar ikon */
  transition: transform 0.3s ease-in-out;
}

.trust-us-item:hover img {
  transform: scale(1.2);
}

.central-description {
  width: 600px;
  height: 150px;
  text-align: center;
  font-size: 1.2em;
  color: #333;
}
