<div class="contact-us">
  <div class="header">
    <h3>kontakt</h3>
    <p>Skontaktuj się z nami. Wyślij do nas wiadomość</p>
  </div>
  <div class="container_1">
    <div class="contact_info">
      <div class="row">
        <p><i class="fa fa-map-marker fa-2x"></i> Adres: Warszawa, PL</p>
      </div>
      <div class="row">
        <p><i class="fa fa-phone fa-2x"></i> Telefon: +48 997</p>
      </div>
      <div class="row">
        <p><i class="fa fa-envelope fa-2x"></i> Email: skskskskAardiumpl</p>
      </div>
    </div>
    <div class="container2">
      <div class="forms">
        <form action="/action_page.php" target="_blank">
          <p>
            <input
              class="w3-input w3-border box"
              type="text"
              placeholder="Imię"
              required
              name="Name"
            />
          </p>
          <p>
            <input
              class="w3-input w3-border box"
              type="text"
              placeholder="Email"
              required
              name="Email"
            />
          </p>
          <p>
            <input
              class="w3-input w3-border box"
              type="text"
              placeholder="Temat"
              required
              name="Subject"
            />
          </p>
          <p>
            <input
              class="w3-input w3-border box"
              type="text"
              placeholder="Wiadomość"
              required
              name="Message"
            />
          </p>

          <div class="container3">
            <button class="button" type="submit">
              <i class="fa fa-paper-plane"></i>  wyślij wiadomość
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
