<div class="contact-us">
  <div class="header">
    <h3>kontakt</h3>
    <p>Skontaktuj się z nami. Wyślij do nas wiadomość</p>
  </div>
  <div class="container_1">
    <div class="contact_info">
      <div class="row">
        <i class="fa fa-map-marker fa-2x"></i><p>Adres: {{ address }}</p>
      </div>
      <div class="row">
        <i class="fa fa-phone fa-2x"></i><p>Telefon: {{ phone }}</p>
      </div>
      <div class="row">
        <i class="fa fa-envelope fa-2x"></i><p>Email: {{ email }}</p>
      </div>
    </div>
    <div class="container2">
      <div class="forms">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <p>
            <input
              class="w3-input w3-border box"
              type="text"
              placeholder="Imię"
              formControlName="name"
            />
            <small *ngIf="name?.invalid && name?.touched">Imię jest wymagane</small>
          </p>
          <p>
            <input
              class="w3-input w3-border box"
              type="email"
              placeholder="Email"
              formControlName="email"
            />
            <small *ngIf="emailControl?.invalid && emailControl?.touched">
              Podaj poprawny email
            </small>
          </p>
          <p>
            <input
              class="w3-input w3-border box"
              type="text"
              placeholder="Temat"
              formControlName="subject"
            />
            <small *ngIf="subject?.invalid && subject?.touched">Temat jest wymagany</small>
          </p>
          <p>
            <input
              class="w3-input w3-border box"
              type="text"
              placeholder="Wiadomość"
              formControlName="message"
            />
            <small *ngIf="message?.invalid && message?.touched">Wiadomość jest wymagana</small>
          </p>

          <div class="container3">
            <button class="button" type="submit" [disabled]="contactForm.invalid">
              <i class="fa fa-paper-plane"></i> wyślij wiadomość
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
