.footer {
  height: 100%;
  background-color: #64b5f6;
  margin: 0;
  display: block;
  padding: 24px 0px;

  h3 {
    margin: 0;
  }
}

app-contact-info {
  font-size: 12px;
}

.center {
  text-align: center;
  text-transform: uppercase;
}
