<footer>
  <div class="image-underlay image-cover-g">
    <img src="footer-bg.jpg" aria-hidden="true" />
  </div>
  <div class="footer-content">
    <span class="footer-copyright">&copy; {{ currentYear }} Ardium</span>
    <nav>
      @if (contactInfo(); as contact) {
        <ul>
          @if (contact.email) {
            <li>
              <div class="icon-container"><icon-envelope /></div>
              <a [href]="createMailto(contact.email)">{{ contact.email }}</a>
            </li>
          }
          @if (contact.address) {
            <li>
              <div class="icon-container"><icon-location-pin /></div>
              <a [href]="createMapLink(contact.address)" target="_blank" rel="noopener noreferrer">{{
                contact.address
              }}</a>
            </li>
          }
          @if (contact.phoneNumber) {
            <li>
              <div class="icon-container"><icon-smartphone /></div>
              <a [href]="createPhoneLink(contact.phoneNumber)">{{ contact.phoneNumber }}</a>
            </li>
          }
          @if (contact.linkedIn) {
            <li>
              <div class="icon-container"><icon-brand-linkedin /></div>
              <a [href]="contact.linkedIn" target="_blank" rel="noopener noreferrer">Ardium</a>
            </li>
          }
        </ul>
      } @else if (loading()) {
        <p i18n="@@common.loading">Loading...</p>
      } @else if (error()) {
        <p i18n="@@common.contact-unavailable">Contact information is currently unavailable.</p>
      }
    </nav>
    <div class="footer-policy">
      <div class="icon-container"><icon-shield-check /></div>
      <a routerLink="/privacy-policy" i18n="@@footer.privacyPolicy">Privacy Policy</a>
    </div>
  </div>
</footer>
