<header [class.is-scrolled]="isScrolled()">
  <div class="content-width-g header-container">
    <div class="logo">
      <img src="ardium_logo.png" alt="Ardium logo" />
    </div>
    <app-icon-button (click)="isOpen.set(!isOpen())">
      <app-hamburger-menu [open]="isOpen()" />
    </app-icon-button>
    <nav [class.open]="isOpen()">
      <ul>
        <li>
          <a (click)="scrollTo('home-section')">Home</a>
        </li>
        <li>
          <a (click)="scrollTo('services-section')">Services</a>
        </li>
        <li>
          <a (click)="scrollTo('contact-section')">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
