section {
  min-height: 100vh;
  min-height: 100dvh;
  max-height: 1280px;
  padding: 6rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-pattern {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image: url('/pattern1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}
.hero-container {
  display: flex;
  gap: 1.5rem;
  padding: 4rem 0.75rem 0;

  > * {
    width: 50%;
  }
  p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 2rem;
    opacity: 0.75;
    width: 85%;
  }
}
.heading-container {
  position: relative;
}
.striped-decor {
  position: absolute;
  width: 10rem;
  height: 10rem;
  opacity: 0.25;
  z-index: -1;
  left: 0;
  top: 0;
  transform: translate(-25%, -10%);
  border-radius: 9999px;
  background: repeating-linear-gradient(
    -55deg,
    transparent 0.9px,
    var(--clr-main) 1.25px,
    var(--clr-main) 3px,
    transparent 4px,
    transparent 8px
  );
}

img {
  position: relative;
  bottom: 4rem;
}

@media only screen and (min-width: 992px) {
  .hero-container {
    p {
      font-size: 1.125rem;
    }
  }
}
