<section>
  <div class="content-width-g">
    <div class="left-right-container">
      <div>
        <div class="heading-container-g">
          <h3 i18n="@@extended-about.about-us.title">About us</h3>
        </div>
        <p i18n="@@extended-about.about-us.content1">
          We specialize in advanced production deployments of large language models. We believe that the key to
          effectively utilizing AI in an organization is the precise configuration of models. We provide comprehensive
          support—from the initial idea, through model customization, to integration with corporate tools and
          maintaining the solution in the chosen environment.
        </p>
        <p i18n="@@extended-about.about-us.content2">
          We most often work with unstructured data derived from documents in various formats. Together with our
          clients, we design processes that enable the model to operate autonomously—without the need for constant
          supervision.
        </p>
      </div>
      <div class="with-img">
        <img src="llm.png" class="llm-img" alt="About Us" />
      </div>
    </div>
    <div class="left-right-container">
      <div>
        <div class="heading-container-g">
          <h3 i18n="@@extended-about.about-senetic-collab.title">Our Collaboration with Senetic</h3>
        </div>
        <p i18n="@@extended-about.about-senetic-collab.content">
          We collaborate with Senetic on implementations within the Microsoft ecosystem. We create the best
          configurations for our clients that enable the reliable utilization of Azure AI capabilities. In turn, Senetic
          is responsible for managing areas related to compliance, hosting, and direct communication with the software
          manufacturer.
        </p>
      </div>
      <div class="with-img">
        <img src="senetic.png" class="senetic-img" alt="Senetic logo" />
      </div>
    </div>
  </div>
</section>
