<div class="contact-us">
  <div class="header">
    <h3>Contact</h3>
    <p>Send us a message</p>
  </div>
  <div class="container-1">
    <app-contact-info></app-contact-info>

    <div class="forms">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <p>
          <input
            class="w3-input w3-border box"
            type="text"
            placeholder="Name"
            formControlName="name"
          />
          <ng-container *ngIf="name?.invalid && name?.touched">
            <small>Name is required</small>
          </ng-container>
        </p>
        <p>
          <input
            class="w3-input w3-border box"
            type="email"
            placeholder="Email"
            formControlName="email"
          />
          <ng-container *ngIf="emailControl?.invalid && emailControl?.touched">
            <small>Make sure that your email is valid</small>
          </ng-container>
        </p>
        <p>
          <input
            class="w3-input w3-border box"
            type="text"
            placeholder="Subject"
            formControlName="subject"
          />
          <ng-container *ngIf="subject?.invalid && subject?.touched">
            <small>Subject is required</small>
          </ng-container>
        </p>
        <p>
          <textarea
            class="w3-input w3-border box"
            placeholder="Message"
            formControlName="message"
          ></textarea>
          <ng-container *ngIf="message?.invalid && message?.touched">
            <small>Message is required</small>
          </ng-container>
        </p>
        <div class="container-2">
          <label
            class="privacy-policy"
            [ngClass]="{'error': privacyPolicy?.invalid && privacyPolicy?.touched}"
          >
            <input
              type="checkbox"
              formControlName="privacyPolicy"
            />
            I agree to the <a href="/privacy-policy">Privacy Policy</a>
          </label>
          <ng-container *ngIf="privacyPolicy?.invalid && privacyPolicy?.touched">
            <small class="error-message">Accepting the Privacy Policy is required</small>
          </ng-container>
        </div>
        <div class="container-2">
          <button class="button" type="submit" [disabled]="contactForm.invalid">
            <i class="fa fa-paper-plane"></i> Send message
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
