<header>
  <div class="call_to_action">
    <!-- do zmiany -->
    <h1 class="call1">Pomożemy ci się zoptymalizować</h1>
    <!-- do zmiany -->
    <p class="call2">Nie marnuj swojego czasu i daj sobie pomóc.</p>
  </div>
</header>

<app-about-us></app-about-us>

<app-trust-us></app-trust-us>

<app-contact class="section"></app-contact>

<div class="motivation">
  <h1>Informatyka to piękna przygoda</h1>
  <p>
    <!-- do zmiany -->
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere et sunt
    minus error quidem, tempore iste quam consectetur alias totam laborum cum,
    sequi voluptates qui nisi obcaecati accusamus vitae nulla? Lorem ipsum dolor
    sit amet consectetur, adipisicing elit. Excepturi ratione voluptates dolor
    cupiditate nesciunt fugiat beatae distinctio ipsam itaque! Atque laborum
    fuga illo eaque? Temporibus a nisi culpa aliquid hic! Lorem ipsum, dolor sit
    amet consectetur adipisicing elit. Rem explicabo molestias natus quisquam.
    Obcaecati accusantium unde esse accusamus rem eos eveniet ut quibusdam
    voluptatem. Eaque, debitis. Voluptate autem alias in.
  </p>
</div>
