header {
  display: flex;
  background-position: center;

  background-size: cover;
  background-image: url("/assets/bgimg4.jpg");
  min-height: 800px;
}

.call_to_action {
  margin-left: 2%;
  margin-top: 17%;
  color: white;
}

.call1 {
  font-size: 38px;
}

.call2 {
  font-size: 24px;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.column {
  text-align: justify;
  padding: 24px;
}

.column h4 {
  text-align: center;
}

.comment {
  text-align: center;
}

.container {
  margin-top: 128px;
  margin-bottom: 128px;
}

.center {
  text-align: center;
}

.big-icon {
  padding-bottom: 16px;
  color: #64B5F6;
}

.section {
  margin: 128px 0px;
}

.motivation {
  /* display: flex; */
  background-position: top;
  background-size: cover;
  background-image: url("/assets/bgimg3.jpg");
  min-height: 800px;
}

.motivation h1 {
  padding: 60px 0px;
  margin: 0px;
  text-align: center;
}

.motivation p {
  width: 800px;
  margin: 0px auto;
  text-align: justify;
}
