<header>
  <div class="call_to_action">
    <!-- do zmiany -->
    <h1 class="call1">Pomożemy ci się zoptymalizować</h1>
    <!-- do zmiany -->
    <p class="call2">Nie marnuj swojego czasu i daj sobie pomóc.</p>
  </div>
</header>

<div class="container">
  <h3 class="center">O NASZEJ FIRMIE</h3>
  <p class="center">Czym się zajmujemy?</p>

  <div class="columns">
    <div class="column">
      <div class="center">
        <i class="fa-solid fa-file-excel fa-5x big-icon"></i>
      </div>

      <h4>Excel</h4>
      <p>
        <!-- do zmiany -->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi
        maxime quisquam quo rerum necessitatibus suscipit hic architecto
        perferendis, quasi qui vitae animi sapiente iure illum corporis ipsa ea
        officiis!
      </p>
    </div>
    <div class="column">
      <div class="center"><i class="fa-solid fa-brain fa-5x big-icon"></i></div>
      <h4>AI</h4>
      <p>
        <!-- do zmiany -->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi
        maxime quisquam quo rerum necessitatibus suscipit hic architecto
        perferendis, quasi qui vitae animi sapiente iure illum corporis ipsa ea
        officiis!
      </p>
    </div>
    <div class="column">
      <div class="center"><i class="fa-solid fa-robot fa-5x big-icon"></i></div>

      <h4>Automatyzacja</h4>
      <p>
        <!-- do zmiany -->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi
        maxime quisquam quo rerum necessitatibus suscipit hic architecto
        perferendis, quasi qui vitae animi sapiente iure illum corporis ipsa ea
        officiis!
      </p>
    </div>
  </div>
</div>

<app-trust-us></app-trust-us>

<app-contact class="section"></app-contact>

<div class="motivation">
  <h1>Informatyka to piękna przygoda</h1>
  <p>
    <!-- do zmiany -->
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere et sunt
    minus error quidem, tempore iste quam consectetur alias totam laborum cum,
    sequi voluptates qui nisi obcaecati accusamus vitae nulla? Lorem ipsum dolor
    sit amet consectetur, adipisicing elit. Excepturi ratione voluptates dolor
    cupiditate nesciunt fugiat beatae distinctio ipsam itaque! Atque laborum
    fuga illo eaque? Temporibus a nisi culpa aliquid hic! Lorem ipsum, dolor sit
    amet consectetur adipisicing elit. Rem explicabo molestias natus quisquam.
    Obcaecati accusantium unde esse accusamus rem eos eveniet ut quibusdam
    voluptatem. Eaque, debitis. Voluptate autem alias in.
  </p>
</div>
