section {
  padding: 5rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-anchor {
  position: absolute;
  top: -3rem;
}

.card-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
app-card {
  aspect-ratio: 1;

  app-card-icon {
    width: 3.5rem;
  }
}